body{
	width: 980px;
	margin: 0 auto;
	background: #444 url(kiama.jpg);
	background-size: cover;
	background-attachment: fixed;
	padding: 1em;
}

.administrative{
	display: none !important;
}

#nav{
	display: block;
	position: absolute;
	left: auto;
	width: auto;
	right: 64px;
	top: 0;
	overflow: visible;
	background: transparent;
	-webkit-transition: none;
	-moz-transition: none;
	-ms-transition: none;
	transition: none;
	line-height: 75px;	
	font-size: 1.3em;
}
#nav a:after{
	display: none;
}
.menu-primary-container,
.menu-primary-container ul.menu,
#nav ul li{
	display: inline-block;
	position: relative;
}
#nav ul li a{
	display: inline-block;
	padding: 0 1em;
	color: #444;
	text-decoration: none;
	border: 0;
}
#nav ul li a:hover{
	color: #E41766;
	background: transparent;
}
#nav ul ul{
	display: none;
	position: absolute;
	top: 55px;
	right: .5em;
	line-height: 1.5em;
	background: white;
	padding: .5em 0;
	border: 5px solid #2697B5;
	border-width: 1px 5px 1px 1px;
	box-shadow: 3px 3px 5px black;
	box-shadow: 3px 3px 5px rgba(0,0,0,.5);
}
#nav ul ul li,
#nav ul ul li a{
	display: block;
	text-align: right;
	white-space: pre;
}
#nav ul li:hover ul {
	display: block;
}

#latest article{
	float: left;
	width: 32%;
	margin-bottom: 1em;
	margin-left: 2px;
	overflow: hidden;
}
body.home #latest article{
	height: 250px;
}
body.archive #latest article{
	height: 360px;
}
body.archive #latest article img{
	width: 305px;
	height: 152px;
}
#features article{
	width: 50%;
	margin-left: 0;
	float: left;
}
#features article img{
	width: 490px;
	height: 300px;
}
#single{
	vertical-align: top;
}
#single article{
	margin: 0;
	width: 600px;
	display: inline-block;
	vertical-align: top;
}
#single #sidebar{
	margin: 0 0 0 20px;
	width: 320px;
	display: inline-block;
	vertical-align: top;
}
#single:after{
	content: '';
	display: table;
	clear: both;
}
.clear{
	display: block;
	clear: both;
}